{% extends 'base.html' %}

{% block content %}

<h1 class="">{% block title %} CCTV Video Retrieval {% endblock %}</h1>

<p>
    Security Video Retrieval (SVR) is a project that aims to create
    a natural language interface for searching security camera footage.
    The project is currently in its early stages, and is not yet ready for use.
</p>
<p>
    You can read more about the project on the
    <a href="https://github.com/TLMOS/security_video_retrieval">GitHub page</a>.
</p>

{% endblock %}